<!DOCTYPE html>
<html>
<head>
    <title>Erreur Access Token - Tulipes & Cie</title>

    <meta charset="UTF-8" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    <div style="text-align: center;">
        <p>{{ msg_error|raw }}</p>

        <a href="{{ url('admin_app_page_abstractpage_list') }}">Revenir à la page précédente</a>
    </div>
</body>
</html>