{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

    <a class="sonata-action-element btn btn-default btn-md"
       href="{{ admin.generateUrl('generate_instagram_access_token') }}">
        {{ admin.trans('instagram_access_token') }}
    </a>

    <a class="sonata-action-element btn btn-default btn-md"
       href="{{ admin.generateUrl('generate_linkedin_access_token') }}">
        {{ admin.trans('linkedin_access_token') }}
    </a>