<div class="cookies-disclaimer animated slideUp">
    <div class="cookies-disclaimer-content">
        <p>
            {{ 'cookies_disclaimer'|trans({
                '%button_class%': 'cookies-disclaimer-accept'
            })|raw }}
        </p>
    </div>
</div>
