<div class="social-icons">

    <a href="https://www.linkedin.com/company/2901072/" target="_blank">
        <span class="ico ico-circle ico-linkedin">{% include 'svg/linkedin.svg.twig' %}</span>
    </a>

    <a href="https://www.facebook.com/Tulipes-Cie-282080538471650/" target="_blank">
        <span class="ico ico-circle ico-facebook">{% include 'svg/facebook.svg.twig' %}</span>
    </a>

    <a href="https://twitter.com/TulipesCie" target="_blank">
        <span class="ico ico-circle ico-twitter">{% include 'svg/twitter.svg.twig' %}</span>
    </a>

    <a href="https://www.instagram.com/tulipescie/" target="_blank">
        <span class="ico ico-circle ico-instagram">{% include 'svg/instagram.svg.twig' %}</span>
    </a>

    <a href="https://vimeo.com/tulipesetcie" target="_blank">
        <span class="ico ico-circle ico-vimeo">{% include 'svg/vimeo.svg.twig' %}</span>
    </a>

</div>